<!DOCTYPE HTML>
<html layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Register Form</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="simple-login-container  col-md-4 offset-md-4">
        <!--Warning Banner is Started-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="alert alert-info alert-labeled" th:if="${exist}">
                    <button class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <div class="alert-labeled-row">
                        <span class="alert-label alert-label-left alert-labelled-cell">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </span>
                        <p class="alert-body alert-body-right alert-labelled-cell">
                            e-mail address not available. Please, try new a e-mail address.
                        </p>
                    </div>
                </div>
                <div class="alert alert-info alert-labeled" th:if="${success}">
                    <button class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <div class="alert-labeled-row">
                        <span class="alert-label alert-label-left alert-labelled-cell">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </span>
                        <p class="alert-body alert-body-right alert-labelled-cell alertload">
                            Success, You are redirecting to the login page <i class="fa fa-spinner fa-spin"></i>
                        </p>
                    </div>
                    <style>
                        .alertload {
                            border: none; /* Remove borders */
                            color: white; /* White text */
                            padding: 12px 24px; /* Some padding */
                            font-size: 16px; /* Set a font-size */
                        }

                        /* Add a right margin to each icon */
                        .fa {
                            float: right;
                        }
                    </style>
                    <script>
                        setTimeout(function () {
                            window.location.href = "/login";
                        }, 2500);
                    </script>
                </div>
            </div>
        </div><!-- Warning Banner is Closed-->
        <h2>Register Form</h2>
        <form method="post" th:action="@{/register}" th:object="${member}">
            <div class="row">
                <div class="col-md-12 form-group">
                    <input class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}"
                           type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}"
                           type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input class="form-control" id="email" placeholder="email" th:field="*{email}" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input class="form-control" id="password" placeholder="Enter your Password" th:field="*{password}"
                           type="password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input class="btn btn-primary btn-block btn-login" type="submit">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
